/* native */
.navbar{
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:rgb(255, 7, 7);
    backdrop-filter: blur(10px);
    z-index: 1000;
    border-bottom: 1px solid rgba(236, 9, 9, 0.996);
}
 
.logo{
    font-size: 1.8rem;
    font-weight: 700;
    color: var(--accent);
    text-decoration: none;
    position: relative;
    padding-left: 2.5rem;
}

.nav-links {
display: flex;
gap: 2ren;
list-style: none;
}

.nav-links a {
    color:var(--text);
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s case;
    position: relative;
}

.nav-links a::after {
    content:'';
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 2px;
    background: var(--accent);
    transition: width 0.3s case;
}

.nav-links a:hover::after {
    width: 100%;
}










